
/* Pro textovou verzi s
<h1 class="logo">
    <span class="star-0">⚝</span><span class="star-1">☀</span><span class="star-2">✶</span><span class="star-3">✶</span><span class="star-4">✶</span><span class="logo-text">Astriot</span>
</h1>


.star-0 {
    font-size:4rem;
}

.star-1 {
    font-size: 1.4rem;
    position: relative;
    top: -0.55rem;
    left: -2.6rem;
}

.star-2 {
    font-size: 1.1rem;
    position: relative;
    top: -2.3rem;
    left: -2.2rem;
}
.star-3 {
    font-size: 1.7rem;
    position: relative;
    top: 0.2rem;
    left: -2.5rem;
}

.star-4 {
    font-size: 0.8rem;
    position: relative;
    top: -1.8rem;
    left: -2.9rem;
}

.logo-text {
    position: relative;
    left: -2.5rem;
}
*/

